<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px">
  <div class="col-9">   
    <h4 
       style="color:rgb(120,120,120);margin-bottom:4px;padding- bottom:4px">{{product['title']}}</h4>
         <div><b>Price:</b> {{product['price']}} </div>    
         <div><b>Description:</b>{{product['description']}}
          </div>
  </div>
  <div class="col-3">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
         <button class="btn btn-warning me-md-2" type="button">Add to Cart </button>
         <button class="btn btn-success" type="button">Buy Now </button>
        </div>
  </div>
</div>